

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-2'>
      <ul>
        <li><div class="pt-3"><a href="#">Home</a></div></li>
        <li><div class="pt-3"><a href="#">Explore</a></div></li>
        <li><div class="pt-3"><a href="#">Notifications</a></div></li>
        <li><div class="pt-3"><a href="#">Messages</a></div></li>
        <li><div class="pt-3"><a href="#">bookmarks</a></div></li>
        <li><div class="pt-3"><a href="#">Lists</a></div></li>
        <li><div class="pt-3"><a href="#">Profile</a></div></li>
      </ul>
    </div>
    <div class='col-md-7 border'>
      <h2>Users</h2>
      <%= render 'index', users: @users %>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>