<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-2'>
    </div>
    <div class='col-md-7'>
      <%= render 'info', user: @user %>
      <%= render 'books/index',books: @books %>
    </div>
    <div class='col-md-3'>
    </div>
  </div>
</div>

